/* App.css */
/*body {
  font-family: Arial, sans-serif;
  background-color: #0b0b0b;
  color: #e6e6ec;

}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #0d0c0c;
  box-shadow: 0 2px 4px rgba(246, 238, 238, 0.967);
}

.toggle-show-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: center;
}
.h1{
  display: flex;
  justify-content: center;
}
/* Add this to your main CSS file or create a new one */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #faf6f6;
  color: #ede6e6;
}

button.toggle-show-button {
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.menu {
  background-color: #100f0f;
  border: 1px solid #191717;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.menu h1 {
  margin-bottom: 10px;
}

.menu img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

.menu p {
  margin-bottom: 10px;
}

/* Media query for responsiveness */
@media (max-width: 600px) {
  .menu {
    margin: 10px;
  }
}
